<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUYWHg7MTwDm0uWwF31pzY4DRgvILSwPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>922881399744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.reemoNlTask</string>
	<key>PROJECT_ID</key>
	<string>reemo-nl-task</string>
	<key>STORAGE_BUCKET</key>
	<string>reemo-nl-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922881399744:ios:4c5c58ac620423e0ba0625</string>
</dict>
</plist>